@import "../../../../styles/utils/index";

.wrapper_calc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calc {
    width: 100%;
    background-image: url("../../../../../assets/img/SnowCard3.jpg");

    .calc_box {
      display: flex;
      flex-direction: row;
      padding: 0 0 1rem 0;
      width: 100%;

      .box_left {
        width: 50%;
        display: flex;
        .input_time {
          display: flex;
          input {
            margin: 0 2rem 0 0;
          }
          .chrono {
            width: 5rem;
            overflow: hidden;
          }
        }
      }
    }
    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .results {
    width: 100%;
    background-image: url("../../../../../assets/img/SnowCard3.jpg");
    table {
      width: inherit;
    }
    tr,
    th,
    td {
      width: 33%;
      text-align: center;
    }
    .win {
      background-color: #8dfd8d;
    }
    .lose {
      background-color: #f68383;
    }
  }

  .pair {
    margin: 0 0 1rem 0;
  }
}
