<article class="wrapper_calc">
  <section *ngIf="calculadora"
    class="calc card">
    <h1>{{ 'GAMES.Labels.calculator' | translate}}</h1>
    <div class="calc_box">
      <!-- Texto e input -->
      <div class="box_left">
        <div [formGroup]="calculadora">
          <div [ngSwitch]="formGet('TypeGameName')">
            <h5>Cuanto es {{formGet('firstNumber')}}
              <span *ngFor="let game of gameTypesNames; let i = index">
                <span *ngSwitchCase="game">{{gameTypesSymbols[i]}}</span>
              </span>
              {{formGet('secondNumber')}} ?
              Nivel {{howManyNumbers}}
            </h5>
          </div>
          <input formControlName="result"
            nsOnlyNumber>
        </div>
      </div>
    </div>
    <!-- Botones -->
    <div class="buttons">
      <div class="wrapper">
        <div class="pair"
          *ngFor="let game of gameTypesNames; let i = index">
          <ns-button [button]="{class: 'w_normal bg_blue', label: capitalize(game)}"
            (clicked)="initGame(game)"></ns-button>
        </div>
      </div>
      <div>
      </div>
      <div class="wrapper">
        <div class="pair">
          <ns-button [button]="{class: 'w_small bg_blue', label: 'Nivel +'}"
            (clicked)="modifyHowManyNumbers('+')"></ns-button>
        </div>
        <div class="pair">
          <ns-button [button]="{class: 'w_small bg_blue', label: 'Nivel -'}"
            (clicked)="modifyHowManyNumbers('-')"></ns-button>
        </div>
      </div>
    </div>
  </section>

  <!-- RESULTADOS -->
  <section class="results card">
    <h2>Resultados</h2>
    <table>
      <tr>
        <th>
          <h5>Tiempo</h5>
        </th>
        <th>
          <h5>Elección</h5>
        </th>
        <th>
          <h5>Resultado</h5>
        </th>
      </tr>
      <tr class="animated faster slideHiddenInUp" [ngClass]="{
        'win': result?.win === true,
        'lose': result?.win === false 
      }"
        *ngFor="let result of chronoList">
        <td>{{result?.time.chrono}} {{result?.time?.label}}</td>
        <td>{{result?.election}}</td>
        <td>{{result?.result}}</td>
      </tr>
    </table>
  </section>
</article>
