<div *ngIf="calculadora"
  class="inmense box">

  <div [formGroup]="calculadora">
    <div [ngSwitch]="calculadora.get('typeGame').value">
      <h1>Cuando es {{calculadora.get('first').value}}
        <span *ngSwitchCase="'multiplicacion'">x</span>
        <span *ngSwitchCase="'division'">/</span>
        <span *ngSwitchCase="'suma'">+</span>
        <span *ngSwitchCase="'resta'">-</span>
        {{calculadora.get('second').value}} ?</h1>
    </div>
    <input formControlName="result">
  </div>
  <div class="box-result"
    [ngClass]="{
    'win': calculadora.get('status').value === true,
    'lose': calculadora.get('status').value === false 
  }">
    <h1 *ngIf="calculadora.get( 'status' ).value === true">GANASTE</h1>
    <h1 *ngIf="calculadora.get( 'status' ).value === false">FALLASTE</h1>
  </div>

</div>
<ns-button [button]="{class: 'c_white w_normal bg_blue', label: 'Cambiar juego'}" (clicked)="initGame()"></ns-button>
{{gameTypes[currentGameType]}}
