@import '../../../../styles/index.scss';

.inmense {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .buttons {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    .type_game {
      ns-button {
        padding: 0 1rem 0 0;
      }
    }
    .levels {
      ns-button {
        padding: 0 0 0 1rem;
      }
    }
  }
}
.box {
  background-color: #73ffb9;
}

h1 {
  margin: 0;
}

.box-result {
  width: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  &.win {
    background-color: blue;
    color: white;
  }
  &.lose {
    background-color: red;
    color: white;
  }
}
