<article class="wrapper_calc">
  <div *ngIf="calculadora"
    class="calc">
    <div class="calc_box">
      <!-- Texto e input -->
      <div class="box_left">
        <div [formGroup]="calculadora">
          <div [ngSwitch]="formGet('TypeGameName')">
            <h1>Cuanto es {{formGet('firstNumber')}}
              <span *ngFor="let game of gameTypesNames; let i = index">
                <span *ngSwitchCase="game">{{gameTypesSymbols[i]}}</span>
              </span>
              {{formGet('secondNumber')}} ?
              Nivel {{howManyNumbers}}
            </h1>
          </div>
          <input formControlName="result" nsOnlyNumber>
        </div>
      </div>
      <!-- Caja de resultados -->
      <div class="box_right">
        <div class="box-result win"
          [ngClass]="{
        'win': formGet('status') === true,
        'lose': formGet('status') === false 
      }">
          <h1 *ngIf="formGet( 'status' ) === true">GANASTE</h1>
          <h1 *ngIf="formGet( 'status' ) === false">FALLASTE -> {{resultOperation}}</h1>
        </div>
      </div>
    </div>
    <!-- Botones -->
    <div class="buttons">
      <div class="type_game">
        <ns-button *ngFor="let game of gameTypesNames"
          [button]="{class: 'w_normal bg_blue', label: capitalize(game)}"
          (clicked)="initGame(game)"></ns-button>
      </div>
      <div class="levels">
        <span>
          <ns-button [button]="{class: 'w_small bg_blue', label: '+'}"
            (clicked)="modifyHowManyNumbers('+')"></ns-button>
          <ns-button [button]="{class: 'w_small bg_blue', label: '-'}"
            (clicked)="modifyHowManyNumbers('-')"></ns-button>
        </span>
      </div>
    </div>
  </div>
</article>
