@import "../../../styles/utils/index";

button {
  border-radius: 5px;
  width: 11rem;
  height: 1.8rem;
  border-style: none;
  color: $c_blue_dark;
  font-size: 1rem;
  outline: none;
  box-shadow: 0px 0px 8px 0px $c_blue_pale;
  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }
  &.bg_blue {
    background-color: $c_blue_lightest;
  }
  &.bg_red {
    background-color: $c_red_light;
  }
  &.c_white {
    color: $c_white;
  }
  &.w_full {
    width: 100%;
  }
  &.w_large {
    width: 16rem;
  }
  &.w_normal {
    width: 11rem;
  }
  &.w_small {
    width: 6rem;
  }
  &:hover {
    &.bg_blue {
      background-color: $c_blue_lighter;
    }
    &.bg_red {
      background-color: $c_red_dark;
    }
  }
}
