@import "./variables.scss";

%card_base {
  border-radius: 5px;
  box-shadow: -1px 3px 19px 12px $c_white;
  padding: 1rem;
}

.card_01 {
  @extend %card_base;
  background-color: ghostwhite;
}
// #c1d1ed