
// Colores
$ns_sand_light: #faffec;
$ns_green_light: #dcffdf;
$ns_blue_light: #2b8aff;
$ns_blue_dark: #2a7add;
$ns_red_light: #ff482b;
$ns_red_dark: #e4482f;
$ns_white: white;
$ns_gray: #9c9c9c;
$ns_black: black;