
// Colores
$c_sand_light: #faffec;
$c_green_light: #dcffdf;
$c_blue_light: #2b8aff;
$c_blue_dark: #2a7add;
$c_red_light: #ff482b;
$c_red_dark: #e4482f;
$c_white: white;
$c_gray: #9c9c9c;
$c_black: black;