
// Colores

// Sand
$c_sand_light: #faffec;

// Green
$c_green_light: #dcffdf;

// Blue
$c_blue_lightest: #c1d1ed;
$c_blue_pale: #3f51b5;
$c_blue_lighter: #9dc1ff;
$c_blue_dark: #0219ba;
$c_blue_darker: #010586;
$c_blue_darkest: #070434;

// Red
$c_red_light: #ff482b;
$c_red_dark: #e4482f;

// Gray
$c_gray_lightest: #f4f4f4;
$c_gray_light: #838d99;
$c_gray: #9c9c9c;

// white
$c_white: white;

// Black
$c_black: black;