<nav class="container_navbar">
  <section class="navbar_item">
    <div class="item_part">
      <div class="part_item">
        <div class="item_brand" routerLink="about">
          Acerca de mi
        </div>
      </div>
    </div>
  </section>
  <section class="navbar_item">
    <div class="item_part">
      <div class="part_item">
        <div class="item_brand" routerLink="games">
          Juegos
        </div>
        <div class="item_brand">
          Contacto
        </div>
        <div class="item_brand">
          Currículum
        </div>
      </div>
    </div>
  </section>
</nav>
