@import "../../utils/index";

%container_size {
  display: flex;
  width: 100%;
  height: $navbar_height;
}

ns-navbar {
  @extend %container_size;
  position: fixed;
  top: 0;

  .container_navbar {
    @extend %container_size;
    justify-content: space-between;
    background-color: $c_white_lightest;
    position: fixed;
    padding: 0 1rem;

    .navbar_item {
      height: inherit;
      display: flex;
      align-items: center;
    }
    .item_part {
      display: inherit;
      height: inherit;

      .part_item {
        display: inherit;
        height: inherit;

        .item_brand {
          
          display: inherit;
          height: inherit;
          align-items: center;
          margin: 0 1rem 0 0;
        }
      }
    }
  }

  .item_brand:hover {
    height: inherit;
    color: #6fa4ff;
  }
}
