@import "../../utils/index";

%container_size {
  display: flex;
  width: 100%;
  height: $navbar_height;
}

ns-navbar {
  @extend %container_size;
  position: fixed;
  top: 0;

  .container_navbar {
    @extend %container_size;
    justify-content: space-between;
    background-color: $c_white_lightest;
    position: fixed;
    width: inherit;

    .navbar_item {
      height: inherit;
      display: flex;
      align-items: center;
      width: inherit;
    }
    .item_part {
      display: inherit;
      height: inherit;
      width: inherit;

      .part_item {
        display: inherit;
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .item_brand {
          display: inherit;
          height: inherit;
          align-items: center;
        }
      }
    }
  }

  h5:hover {
    color: #6fa4ff;
  }
}

.router_active {
  color: #6fa4ff;
}

@media (max-width: 425px) {
  h5 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .container_navbar {
    padding: 0px;
  }
}
