@import "../../../utils/variables/index";

%card_base {
  border-radius: 5px;
  box-shadow: -1px 3px 19px 12px $c_blue_lightest;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card {
  @extend %card_base;
  background-color: ghostwhite;
  &.--small {
    padding: .5rem;
  }
  &.--big {
    padding: 1.5rem;
  }
  &.--bigger {
    padding: 2rem;
  }
}

