
/** PADDINGS **/ 
.p_01 {
  padding: .1rem;
}
.p_02 {
  padding: .2rem;
}
.p_03 {
  padding: .3rem;
}
.p_04 {
  padding: .4rem;
}
.p_04 {
  padding: .4rem;
}
.p_05 {
  padding: .5rem;
}
.p_06 {
  padding: .6rem;
}
.p_07 {
  padding: .7rem;
}
.p_08 {
  padding: .8rem;
}
.p_09 {
  padding: .9rem;
}
.p_1 {
  padding: 1rem;
}