/* You can add global styles to this file, and also import other style files */
@import "./app/styles/utils/index";

:root {
  font-size: 16px;

  @media (max-width: 425px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 768px) {
    font-size: 26px;
  }
  @media (min-width: 1950px) {
    font-size: 30px;
  }
}
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body {
  background-image: url("./assets/img/Snowflake3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: Kaushan_Script;
  box-sizing: border-box;
  outline: none;
  transition: width $transition_time;
  transition: font-size $transition_time;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  margin: 0px;
  font-weight: initial;
  color: $c_blue_dark;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
input {
  border-radius: 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #2c2c2c;
  border-radius: 3rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #101ea0;
  border-radius: 3rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #3b4bdb;
}

@font-face {
  font-family: ClickerScript;
  src: url(assets/fonts/Clicker_Script/ClickerScript-Regular.ttf) format("opentype");
}
@font-face {
  font-family: IndieFlower;
  src: url(assets/fonts/Indie_Flower/IndieFlower-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Kaushan_Script;
  src: url(assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway/Raleway-LightItalic.ttf) format("opentype");
}
