/* You can add global styles to this file, and also import other style files */
@import './app/styles/utils/index';

:root {
  font-size: 16px;
  background-color: $c_blue_darkest;
}
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body {
  background-image: url('./assets/img/Snowflake4.jpg');
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  font-family: Kaushan_Script;
}

h1,h2,h3,h4,h5,h6, div, p, small {
  margin: 0px;
  font-weight: initial;
  color: $c_blue_dark;
}
input {
  border-radius: .5rem;
  line-height: 1rem;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
body::-webkit-scrollbar-track {
  background-color:  #2c2c2c;
  border-radius: 3rem;
}
body::-webkit-scrollbar-thumb {
  background-color:  #101ea0;
  border-radius: 3rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color:  #3b4bdb;
}

@font-face {
  font-family: ClickerScript;
  src: url(assets/fonts/Clicker_Script/ClickerScript-Regular.ttf) format("opentype");
}
@font-face {
  font-family: IndieFlower;
  src: url(assets/fonts/Indie_Flower/IndieFlower-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Kaushan_Script;
  src: url(assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("opentype");
}
