/* You can add global styles to this file, and also import other style files */
@import './app/styles/index';

:root {
  font-size: 16px;
  background-color: $c_green_light;
}
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: Kaushan_Script;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  font-weight: initial;
}
input {
  border-radius: 15px;
  line-height: 1rem;
  font-size: 1rem;
}

@font-face {
  font-family: ClickerScript;
  src: url(assets/fonts/Clicker_Script/ClickerScript-Regular.ttf) format("opentype");
}
@font-face {
  font-family: IndieFlower;
  src: url(assets/fonts/Indie_Flower/IndieFlower-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Kaushan_Script;
  src: url(assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("opentype");
}
